/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroIntroduction {
  padding: 2rem 0;
  text-align: center;
  background-color: var(--ifm-background-color);
  color: var(--ifm-font-color-base);
}

.chapters {
  padding: 2rem 0;
  text-align: center;
  background-color: var(--ifm-background-color);
  color: var(--ifm-font-color-base);
}

.chapters h2 {
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.chapters .button {
  margin: 0.5rem;
}